.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 5rem;
    max-height: 5rem;
}
.green {
    color: green !important;
}
.green:hover {
    color: white !important;
    background-color: green !important;
    border-color: green !important;
}
.red {
    color: red !important;
}
.red:hover {
    color: red !important;
    background-color: white !important;
    border-color: red !important;
}